* {
  background-color: #231F3A;
  color: #aaaaaa;
  border: 0;
}

.skills {
  background-color: #1F1B36;
}

.pro h1 {
  background-color: yellow;
  color: black;
}

img {
  width: 40%;
  border-radius: 300px;
  border: 1px solid blue;
}

.primary {
  background-color: #00BECD;
}

.botao {
  background-color: transparent;
  color: #00BECD;
  border: 1px solid #00BECD;
}

.botao-secundario {
  background-color: transparent;
  border: 1px solid #aaaaaa;
}